.v-card {
  padding: 20px;
  max-width: 800px !important;
  margin: 20px auto 0;
}

.center-input-col {
  max-width: 48px !important;
  padding: 4px!important;
}

.center-input input {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}